apiVersion: apps/v1
kind: Deployment
metadata:
  name: audiobookshelf
spec:
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: audiobookshelf
  template:
    metadata:
      labels:
        app: audiobookshelf
    spec:
      securityContext:
        fsGroup: 0
      containers:
      - name: audiobookshelf
        image: ghcr.io/advplyr/audiobookshelf:2.31.0
        ports:
        - containerPort: 80
        volumeMounts:
        - name: audiobooks
          mountPath: /audiobooks
        - name: config
          mountPath: /config
        - name: metadata
          mountPath: /metadata
        - name: uncategorized
          mountPath: /uncategorized
        - name: oldbooks
          mountPath: /oldbooks
        - name: deaddrop
          mountPath: /deaddrop
        - name: secondaudiobooks
          mountPath: /secondaudiobooks
        - name: thirdaudiobooks
          mountPath: /thirdaudiobooks
          mountPropagation: HostToContainer
        env:
        - name: TZ
          value: America/Toronto
        readinessProbe:
          exec:
            command: ["test", "-f", "/config/DONOTDELETE"]
          initialDelaySeconds: 5
          periodSeconds: 10
      volumes:
      - name: audiobooks
        hostPath:
          path: /mnt/secondary/audiobooks
          type: DirectoryOrCreate
      - name: uncategorized
        hostPath:
          path: /mnt/secondary/downloads/complete
          type: DirectoryOrCreate
      - name: oldbooks
        hostPath:
          path: /mnt/elements/old_books
          type: DirectoryOrCreate
      - name: deaddrop
        hostPath:
          path: /mnt/secondary/downloads/deaddrop/complete
          type: DirectoryOrCreate
      - name: config
        hostPath:
          path: /mnt/secondary/config/audiobookshelf
          type: DirectoryOrCreate
      - name: metadata
        hostPath:
          path: /mnt/secondary/config/audiobookshelf-metadata
          type: DirectoryOrCreate
      - name: secondaudiobooks
        hostPath:
          path: /mnt/elements/audiobooks
          type: DirectoryOrCreate
      - name: thirdaudiobooks
        nfs:
          server: 192.168.1.10
          path: /mnt/primary/root/audiobooks
          readOnly: false
