apiVersion: apps/v1
kind: Deployment
metadata:
  name: audiobookbay-downloader
spec:
  replicas: 1
  selector:
    matchLabels:
      app: audiobookbay-downloader
  template:
    metadata:
      labels:
        app: audiobookbay-downloader
    spec:
      securityContext:
        fsGroup: 0
      containers:
        - name: audiobookbay-downloader
          image: ghcr.io/moonblade/audiobookbay-downloader:ts_1764167667 # {"$imagepolicy": "audiobookbay-downloader:audiobookbay-downloader"}
          ports:
            - containerPort: 9000
          envFrom:
            - secretRef:
                name: audiobookbay-secret
            - configMapRef:
                name: audiobookbay-config
          env:
            - name: DB_PATH
              value: /config
          readinessProbe:
            exec:
              command: ["test", "-f", "/config/DONOTDELETE"]
            initialDelaySeconds: 5
            periodSeconds: 10
          volumeMounts:
            - name: audiobookbay-config
              mountPath: /config
            - name: downloads
              mountPath: /downloads
            - name: audiobooks
              mountPath: /audiobooks
            - name: secondaudiobooks
              mountPath: /secondaudiobooks
            - name: thirdaudiobooks
              mountPath: /thirdaudiobooks
              mountPropagation: HostToContainer
            - name: beetsconfig
              mountPath: /config/config.yaml
              subPath: config.yaml
      volumes:
        - name: audiobookbay-config
          hostPath:
            path: /mnt/secondary/config/audiobookbay-downloader
            type: DirectoryOrCreate
        - name: downloads
          hostPath:
            path: /mnt/secondary/downloads/complete
            type: DirectoryOrCreate
        - name: audiobooks
          hostPath:
            path: /mnt/secondary/audiobooks
            type: DirectoryOrCreate
        - name: secondaudiobooks
          hostPath:
            path: /mnt/elements/audiobooks
            type: DirectoryOrCreate
        - name: thirdaudiobooks
          nfs:
            server: 192.168.1.10
            path: /mnt/primary/root/audiobooks
            readOnly: false
        - name: beetsconfig
          configMap:
            name: beetsconfig
