apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: authentik
resources:
  - ../../../../base/infra/authentik/
  - ./dnsendpoint.yaml
  - ./secret-sealed.yaml
  - ./ingress.yaml
  - ./referencegrants.yaml

configMapGenerator:
  - name: authentik-blueprints
    options:
      disableNameSuffixHash: true
    files:
      - ./blueprints/05-source-google.yaml
      - ./blueprints/10-app-feeder.yaml
      - ./blueprints/10-app-audiobooksearch.yaml
      - ./blueprints/10-app-jackett.yaml
      - ./blueprints/10-app-yts-search.yaml
      - ./blueprints/10-app-filebrowser.yaml
      - ./blueprints/10-app-deaddrop.yaml
      - ./blueprints/10-app-weave.yaml
      - ./blueprints/10-app-audiobookshelf.yaml

patchesStrategicMerge:
  - helm-release.yaml

