apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: authentik
resources:
  - ../../../../base/infra/authentik/
  - ./dnsendpoint.yaml
  - ./secret-sealed.yaml
  - ./ingress.yaml

configMapGenerator:
  - name: authentik-blueprints
    options:
      disableNameSuffixHash: true
    files:
      - ./blueprints/10-app-feeder.yaml

patchesStrategicMerge:
  - helm-release.yaml

